# dependencies
node_modules/
.venv/
__pycache__/

# builds
.next/
out/
dist/
*.tsbuildinfo
next-env.d.ts

# env & secrets
.env
.env.*
*.env
!.env.example
*service-account*.json
credentials*.json

# logs / OS
npm-debug.log*
.DS_Store
Thumbs.db
